<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description"
    content="You’ll find this post in your \`_posts\` directory. Go ahead and edit it and re-build the site to see your changes.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:image" content="">
  <link rel="shortcut icon" href="http://artemsheludko.com/adam-blog/assets/img/favicon/favicon.ico"
    type="image/x-icon">
  <link rel="apple-touch-icon" href="http://artemsheludko.com/adam-blog/assets/img/favicon/apple-touch-icon.ico">
  <link rel="apple-touch-icon" sizes="72*72"
    href="http://artemsheludko.com/adam-blog/assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114*114"
    href="http://artemsheludko.com/adam-blog/assets/img/favicon/apple-touch-icon-114*114.png">
  <!-- chrome, firefox and opera -->
  <meta name="theme-color" content="#52eeee">
  <!-- IOS -->
  <meta name="theme-color" content="#52eeee">
  <!-- android -->
  <meta>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lacquer|Montserrat&display=swap" rel="stylesheet">
  <!-- font awesome -->
  <link rel="stylesheet" href="http://artemsheludko.com/adam-blog/assets/fonts/font-awesome/css/font-awesome.min.css">
  <!-- styles -->
  <link rel="stylesheet" href="http://artemsheludko.com/adam-blog/assets/css/main.css">
  <link rel="stylesheet" href="http://artemsheludko.com/bef/assets/css/main.css">
  <!-- comment -->
<!-- <script src='//unpkg.com/valine/dist/Valine.min.js'></script> -->
<div id="fb-root"></div>
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v4.0"></script> -->
</head>

<body>
  <div class="flex-container">
    <header class="main-header">
      <div class="wrapper">
        <div class="header-flex">
          <div class="menu-icon-container">
            <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </div>
          <nav class="main-nav">
            <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
            <ul>
              <li style="color: white"><a href=""></a>Blogs</li>
              <li style="color: white"><a href=""></a>About</li>
            </ul>
          </nav>
          <p class="logo"><a href="/posts">MY BLOG</a></p>

          <div class="search-icon-container">
            <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->

    <article class="article-page">
      <div class="page-image">
        <div class="cover-image"
          style="background: url({{post.image}}) center no-repeat; background-size: cover;"></div>
      </div>
      <div class="wrapper">
        <div class="page-content">
          <div class="header-page">
            <h1 class="page-title">{{post.title}}</h1>
            <div class="page-date"><time datetime="#">{{post.created_at}}</time></div>
          </div>

          <div>
            {{{post.body}}}
          </div>
          <!-- end.post.body -->

          <div class="page-footer">
            <div class="page-tag">
              <span>Tags:</span>
              <a href="#" class="tag">| Blog</a>
            </div>
            <!-- End Tags -->

            <div class="page-share">
              <span>Share:</span>
              <a href="https://twitter.com/intent/tweet?text=I conquer the Himalayas&url=/i-conquer-the-himalayas/"
                title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
              <a href="https://facebook.com/sharer.php?u=/i-conquer-the-himalayas/" title="Share on Facebook"
                rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://plus.google.com/share?url=/i-conquer-the-himalayas/" title="Share on Google+"
                rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
            </div><!-- End Share -->
          </div>
          <section class="author-box">
            <div class="author-desc" style="float:inherit"
              <h2>Shuwei Liu</h2>
              <p></p>
              <ul>

                <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o"
                    aria-hidden="true"></i></a></li>
                <li class="phone"><a href="tel:0225216134"><i class="fa fa-phone" 
                    aria-hidden="true"></i></a></li>
                <li class="website"><a href="https://sw.midoti.site" target="_blank"><i class="fa fa-globe"
                    aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="#" target="_blank"><i
                    class="fa fa-twitter"></i></a></li>

              </ul>
            </div>
          </section>

          <div class="recent-box">
            <h2 class="recent-title">Recent post</h2>

            <!-- @each(post in posts) -->
            <div class="recent-list">

              <a href="/posts/{{post._id}}" class="recent-item"
                style="background: url( {{post.image}} ) center no-repeat; background-size: cover;"><span>{{post.title}}</span></a>

            </div>
            <!-- @endeach -->

          </div> 
          <!-- End Recent-Box -->

          <div class="newsletter" id="mc_embed_signup">
            <h2 class="newsletter-title">Newsletter</h2>
            <div class="form-container">
              <p>Subscribe here to get our latest updates</p>
              <form action="//" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email Address</label>
                <div class="newsletter-box" id="mc_embed_signup_scroll">
                  <input type="email" name="EMAIL" placeholder="Email address" class="email-input" id="mce-EMAIL"
                    required>
                  <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn"
                    id="mc-embedded-subscribe">
                </div>
              </form>
            </div>
          </div>
          <!-- End Newsletter -->

          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v4.0"></script>

          <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
            data-width="" data-numposts="1"></div>
          <!-- End Comment Area -->

        </div>
      </div> 
      <!-- End Wrapper -->

    </article>
    <div class="search-box">
      <div class="wrapper">
        <div class="search-grid">
          <form class="search-form">
            <div id="search-container">
              <input type="text" id="search-input" class="search" placeholder="Search">
            </div>
          </form>
          <ul id="results-container" class="results-search"></ul>
          <div class="icon-close-container">
            <span class="search-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="main-footer">
      <div class="">
        <ul class="social_footer">
          <li><a href="https://github.com/shuweiliu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>

          <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

          <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

          <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>

          <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>


        <div class="copyright">
          <p style="color:black">&copy; 2019 | <a href="https://sw.midoti.site" target="_blank">Shuwei</a></p>
        </div>
      </div>
    </footer>
    <!-- footer end -->

  </div>

  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="http://artemsheludko.com/adam-blog/assets/js/main.js"></script>

  <script>
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '/adam-blog/search.json',
      searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
      noResultsText: 'No results found',
      fuzzy: false,
      exclude: ['Welcome']
    });
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
  </script>

  <!-- css -->

</body>

</html>
